files:
  /etc/nginx/.htpasswd:
    mode: "000755"
    owner: root
    group: root
    content: |
      user:$apr1$teybuolm$ZRfS8R7RiXvUtjF0vb2yV0
      user2:$apr1$teybuolm$ZRfS8R7RiXvUtjF0vb2yV0

  /tmp/deployment/add_nginx_auth.sh:
    mode: "000755"
    content: |
      echo 'Running add_nginx_auth.sh'
      if [ "$ENV_NAME" == "develop" ] || [ "$ENV_NAME" == "staging" ]; then
        sed -i 's/$proxy_add_x_forwarded_for;/$proxy_add_x_forwarded_for;\n   auth_basic "Restricted";\n    auth_basic_user_file \/etc\/nginx\/.htpasswd;\n/' /etc/nginx/conf.d/02_basic_auth.conf
      fi

container_commands:
  01_add_nginx_auth:
    command: "/tmp/deployment/add_nginx_auth.sh"
  02_restart_nginx:
    command: "service nginx restart"