files:
  /etc/nginx/.htpasswd:
    mode: "000644"
    owner: root
    group: root
    content: |
      user:$apr1$teybuolm$ZRfS8R7RiXvUtjF0vb2yV0
      user2:$apr1$teybuolm$ZRfS8R7RiXvUtjF0vb2yV0

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_removing_base_auth.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      ENV_NAME=`/opt/elasticbeanstalk/bin/get-config environment -k "ENV_NAME"`
      echo 'Testing 99_removing_base_auth.sh'
      if [ "$ENV_NAME" == "prod" ]; then
        echo 'Running 99_removing_base_auth.sh'
        sed -i '/auth_basic/d' /etc/nginx/conf.d/elasticbeanstalk/00_application.conf
        sed -i '/auth_basic_user_file/d' /etc/nginx/conf.d/elasticbeanstalk/00_application.conf
        service nginx restart
      fi