files:
  /etc/nginx/.htpasswd:
    mode: "000644"
    owner: root
    group: root
    content: |
      user:$apr1$teybuolm$ZRfS8R7RiXvUtjF0vb2yV0
      user2:$apr1$teybuolm$ZRfS8R7RiXvUtjF0vb2yV0

container_commands:
  01_remove_basic_auth_for_production_env:
    command: |
      echo 'Running command ...'
      sed '/auth_basic/d' /etc/nginx/conf.d/elasticbeanstalk/00_application.conf
      sed -i '/auth_basic/d' /etc/nginx/conf.d/elasticbeanstalk/00_application.conf
      sed -i '/auth_basic_user_file/d' /etc/nginx/conf.d/elasticbeanstalk/00_application.conf
    test: '[ "${ENV_NAME}" == "prod" ]'